<section id="mis-proyectos" class="border">
    <h1  class="p-2 text-white">Mis proyectos</h1>
    
    
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" >
    <h2 class="accordion-header " id="flush-headingOne">
    <button class="accordion-button collapsed border" style="background-color: #e75d5df5; color:black; border-color: black;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      Portafolio Versión HTML - CSS
    </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body text-dark" ><h5>Feb.2022 - Ago.2022</h5>
      <p>Portafolio </p>
      <p>Lenguajes utilizados: html, css, bootstrap...</p>
      .</div>
    </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
    <button class="accordion-button collapsed " style="background-color: #e75d5df5; color:black; border-color: black;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
      Portafolio Versión Angular
    </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body text-dark"><h5>Feb.2022 - Ago.2022</h5>
      <p>Portafolio </p>
      <p>Lenguajes utilizados: html, css, bootstrap...</p>.</div>
    </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
    <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
      Accordion Item #3
    </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body text-dark">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
    </div>
    </div>
    
    
    </section>
